:root {
  --primary: #ff4646;
  --secondary: #fd3131;
  --tertiary: #ff7d7d;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary);
}

.grey-out {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.grid {
  aspect-ratio: 1/1;
  height: 750px;
  margin: auto;
  z-index: 10000;
}

.square {
  display: inline-block;
  white-space: nowrap;
  aspect-ratio: 1/1;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0;
}

.square:not(.square:nth-child(1))[data-value=""] {
  margin-top: calc(-1*1rem*0.25);
}

.hidden {
  color: rgba(0, 0, 0, 0);
}

.square:nth-child(2n+1) {
  background-color: rgb(253, 49, 49);
}

.square:nth-child(2n) {
  background-color: rgb(255, 125, 125);
}