:root {
  --primary: #ff4646;
  --secondary: #fd3131;
  --tertiary: #ff7d7d;
  --grid-width: 15;
  --grid-height: 15;
  --grid-screen-width: 795px;
  --grid-screen-height: 795px;
}

#root {
  display: flex;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary);
}

.play-button {
  border: none;
  background-color: #aaa;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin: auto;
}

.grey-out {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  column-count: var(--grid-width);
  grid-template-columns: repeat(var(--grid-width), calc(var(--grid-screen-width)/var(--grid-width)));
  grid-template-rows: repeat(var(--grid-height), calc(var(--grid-screen-height)/var(--grid-height)));
  height: var(--grid-screen-height);
  width: var(--grid-screen-width);
  margin: auto;
  z-index: 10000;
  background-color: #fff;
}

.square {
  text-align: center;
  line-height: calc(var(--grid-screen-height)/var(--grid-height));
  border: none;
  font-weight:bolder;
  font-size: 2rem;
}

.square[data-hidden="true"] {
  color: rgba(0, 0, 0, 0);
  background-color: rgb(205, 0, 0);
}

.square[data-hidden="false"] {
  background-color: rgb(122, 122, 122);
}

.square:nth-child(2n+1) {
  opacity: 1;
}

.square:nth-child(2n) {
  opacity: 0.8;
}

.square[data-value="1"] {
  color: rgb(0, 222, 0);
}

.square[data-value="2"] {
  color: rgb(222, 222, 0);
}

.square[data-value="3"] {
  color: rgb(222, 122, 0);
}

.square[data-value="4"] {
  color: rgb(222, 0, 0);
}

.square[data-value="5"] {
  color: rgb(222, 0, 150);
}

.square[data-value="6"] {
  color: rgb(222, 0, 255);
}

.square[data-value="7"] {
  color: rgb(222, 122, 222);
}

.square[data-value="B"] {
  background-image: url("./images/bomb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--grid-screen-width)/var(--grid-width)*0.8) calc(var(--grid-screen-height)/var(--grid-height)*0.8);
}